.side-bar {
  position: absolute;
  width: 120px;
  height: 100%;
  min-height: 120vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  z-index: 10;
}

@media screen and (max-width: 1024px) {
  .side-bar {
    min-height: 110vh;
  }
}

.side-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12rem;
}

.side-bar-icons {
  display: flex;
  flex-direction: column;
  height: 400px;
  gap: 12px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.copyright {
  font-family: Roboto;
  color: #fff;
  transform: rotate(-90deg);
  height: 40px;
  width: 140px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}
